@model IEnumerable<AllMixedUp.Models.IngredientListItem>
@using AllMixedUp.Data
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IngredientID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaterialName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GlazeID)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.MaterialID)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.MaterialName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Quantity)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.GlazeID)
    </td>
    <td>
        @Html.ActionLink("Delete", "Delete", new { id = item.IngredientID })|
        @Html.ActionLink("Add Ingredient", "AddIngredientToList", "Ingredient", new { id = item.GlazeID }, new { })
    </td>
</tr>
    }

</table>
