@model AllMixedUp.Models.GlazeDetail
@using AllMixedUp.Data
@{
    ViewBag.Title = "Details";
}

<h2>
    <dd>
        @Html.DisplayFor(model => model.GlazeName)
    </dd>
    @if (!Model.FoodSafe)
    {
        <dd>
            Not Food-Safe
        </dd>
    }

</h2>
<div >
    @Html.ActionLink("Back to List", "Index", new { }, new { @class = "action-link" })
    @Html.ActionLink("Edit Recipe", "Edit", new { id = Model.GlazeID }, new { @class = "action-link" })
    @Html.ActionLink("Add Ingredient", "AddIngredientToList", "Ingredient", new { id = Model.GlazeID }, new { @class = "action-link" })
</div>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MainColor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MainColor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            Cone
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MinCone)
            -
            @Html.DisplayFor(model => model.MaxCone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Atmosphere)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Atmosphere)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Surface)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Surface)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Opacity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Opacity)
        </dd>
    </dl>
</div>
<div>
    <table class="table">
        @foreach (var item in Model.IngredientList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MaterialName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>


            </tr>
        }
    </table>
</div>
<div>
    @Html.ActionLink("Back to List", "Index", new { }, new { @class = "action-link" })
    @Html.ActionLink("Edit Recipe", "Edit", new { id = Model.GlazeID }, new { @class = "action-link" })
    @Html.ActionLink("Add Ingredient", "AddIngredientToList", "Ingredient", new { id = Model.GlazeID }, new { @class = "action-link" })
</div>

