@model AllMixedUp.Models.GlazeDetail
@using AllMixedUp.Data
@{
    ViewBag.Title = "Details";
}

<h2>
    <dt>
        @Html.DisplayNameFor(model => model.GlazeName)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.GlazeName)
    </dd>
</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MainColor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MainColor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MinCone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MinCone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaxCone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaxCone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Atmosphere)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Atmosphere)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Surface)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Surface)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Opacity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Opacity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FoodSafe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FoodSafe)
        </dd>
    </dl>
</div>
<div>
    <table>
        @foreach (var item in Model.IngredientList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MaterialName)
                </td>
               <td> - </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>


            </tr>
        }
    </table>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.GlazeID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
