@model IEnumerable<AllMixedUp.Models.GlazeListItem>

@{
    ViewBag.Title = "Index";
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.GlazeName)
        </th>
        <th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.GlazeName)
    </td>

    <td>

        @Html.ActionLink("View Recipe", "Details", new { id = item.GlazeID }) |
        @Html.ActionLink("Edit Recipe", "Edit", new { id = item.GlazeID }) |
        @Html.ActionLink("Delete Recipe", "Delete", new { id = item.GlazeID }) |
        @Html.ActionLink("Add Ingredient", "AddIngredientToList", "Ingredient", new { id = item.GlazeID }, new { })
    </td>
</tr>
}

</table>
