@model IEnumerable<AllMixedUp.Models.GlazeListItem>

@{
    ViewBag.Title = "Index";
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.GlazeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MinCone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaxCone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MainColor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Atmosphere)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.GlazeName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.MinCone)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.MaxCone)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.MainColor)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Atmosphere)
    </td>

    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.GlazeID }) |
        @Html.ActionLink("Details", "Details", new { id = item.GlazeID }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.GlazeID })
    </td>
</tr>
}

</table>
