@model AllMixedUp.Models.MaterialDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MaterialDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MaterialID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaterialID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PotterID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PotterID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaterialName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaterialName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HealthHazard)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HealthHazard)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaterialID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
